@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
	
main {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
    background: linear-gradient(
      to right,
      #053d4b,
      #05454f,
      #054c52,
      #055356,
      #055a5a,
      #05625e,
      #056962,
      #057066,
      #057769,
      #057f6d,
      #058771,
      #058e74,
      #059578,
      #059c7c,
      #05a47f,
      #05ab83,
      #05b387,
      #05ba8a,
      #05c18e,
      #05c892,
      #05c095,
      #05c799,
      #05ce9d,
      #05d5a0,
      #05dca4,
      #05e3a8,
      #05eaaa,
      #05ebab,
      #05ebad,
      #05ebaf,
      #05ebb1,
      #05ebb3,
      #05ebb5,
      #05ebb7,
      #05ebb9,
      #05ebbb,
      #05ebbd,
      #05c892,
      #058771

    );
    background-size: 6000% 100%;
    animation: gradientAnimation 50s linear infinite;
		height: 100vh;
		max-width: 100vw;
		padding-right: 20px;
		padding-left: 20px;
	}
  @keyframes gradientAnimation {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }
	button {
		background-color: #a8eb12;
		border-radius: 1rem;
	}

	

	@media screen and (min-width: 300px) {
		.titulo {
			font-size: 4.5rem;
			color: rgb(99, 5, 107);
      padding-left: 2rem;
      font-family: 'Anton', sans-serif;
		}
		.description {
			color: #be36a1;
			font-size: 5.5rem;
		}
		.tema {
			margin-top: 10rem;
			font-size: 4rem;
      padding-left: 3rem;
      margin-bottom: 1rem;
			
		}
		p {
		margin-right: 1rem;
		font-size: 32px;

		}
    .btn{
      margin-top: 3rem;
      font-size: 3rem;
      padding: 1rem 1rem 1rem 1rem;
      font-family: 'Anton', sans-serif;
      letter-spacing: 3px;
      color: #4b4d72;
    }
    .foto{
      display: flex;
      align-items: center;
      margin-left: 0.3rem;
    }
		
	}
	@media (min-width: 800px) {
		main {
			overflow: hidden;
		}
	}

  .hamburguer {
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburguer .linha {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #c8f181;
    border-radius: 20px;
    position: relative;
  }
  
  .links-nav {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .links-nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .links-nav a:hover,
  .links-nav a:focus {
    background-color: #c8f181;
  }
  
  .expandido {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .links-nav {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .links-nav a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburguer {
        display: none;
      }
  
  }
   /* .menu-topo{
    
  } */
  .nomes{
    display: flex;
    flex-direction: column;
    font-weight: 700;

  }
  .card{
    background-color: #69d8e2;
    border-radius: 1rem;
    margin: 2rem;
    color: #ffff;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .logoif{
    width: 40px;
    height: 55px;
    margin-right: 25px;
  }
.titulo-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.btn-projeto{
  background-color: inherit;
  margin-left: 13rem;
}
.foto-card{
  width: 40px;
  color: white;
}
.foto-folha{
  width: 250px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.green{
  background-color: #00bf72;
}
.bronw{
  background-color: #ff9776;
}
.red{
  background-color: crimson;
}
.rodape{
  background-color: gray;
  margin-top: 5rem;
  padding: 1rem;
  color: white;
}
.creditos{
  font-size: 16px;
}
.insta{

  font-size: 15px;
  color: #05c892;
  
}
.fa-instagram{
  margin-right: 7px;
  background: linear-gradient(45deg, #F58529, #ED4973);
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
  border-radius: 3px;
  color: white;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}
.titulo-projeto{
  font-size: 30px;
  margin-top: 2rem;
  /* text-align: center; */
  margin-left: 2rem;
}
.topico{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 24px;
}
.informacao{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-texto{
  padding: 25px;
  font-size: 18px;
}
.info-img{
  width: 300px;
  border-radius: 3px;
  margin-bottom: 3rem;
}