---
import LayoutBase from "@/layouts/LayoutBase.astro";
import '@/styles/globals.css';
---

<html>
    <body>
        <button>
            <a href="/">Voltar</a>
        </button>
        <h1>oiw</h1>
        <LayoutBase></LayoutBase>
    </body>
</html>