---
import Cabecalho from '/src/components/Cabecalho.astro';
import '../styles/globals.css';
---
<main>
	
	<Cabecalho></Cabecalho>
	<h1 class="titulo">20° SEMANA NACIONAL DE</h1>
	<h1 class="titulo description">CIÊNCIA E TECNOLOGIA</h1>
	<div class="tema">
		Ciências básicas no uso do desenvolvimento sustentável
	</div>

	<button>
		<a href="/home">ENTRAR!</a>
	</button>
</main>

