---
import LayoutBase from "@/layouts/LayoutBase.astro";
import "@/styles/globals.css";
import Rodape from "../components/Rodape.astro";
import extaylor from "../assets/ta.jpg"; 
import robolego from "../assets/robolego.jpeg";
import robo2 from "../assets/oierobo.jpeg";
import robo3 from "../assets/maisrobo.jpeg";
import robo from "../assets/robo.jpeg";
---

<LayoutBase>
    <div>
        <h2 class="topico">Como foi feito</h2>
        <div class="informacao">
            <p class="info-texto">
                Construído com peças de Lego e Arduino, este robô tem a capacidade de detectar gases inflamáveis. Uma iniciativa relevante para o desenvolvimento sustentável, pois visa aprimorar a segurança ambiental e humana por meio da detecção precoce de vazamentos de gases nocivos. Utilizando princípios de química e física, juntamente com tecnologia da informação, o robô contribui para a prevenção de poluição, conservação de recursos e proteção de vidas humanas, alinhando-se com os princípios das ciências básicas para promover um ambiente sustentável. Além disso, o projeto tem potencial para educar e conscientizar sobre a importância da segurança e da preservação do meio ambiente.
            </p>
            <img class="info-img" src={robo.src} alt="Logo do IFAM" />
        </div>

        <h2 class="topico">Objetivo</h2>
        <div class="informacao">
            <p class="info-texto">
                Assim, o objetivo final deste projeto é utilizar a ciência e a tecnologia para criar soluções práticas que melhorem nossa qualidade de vida, protegendo o meio ambiente e promovendo o desenvolvimento sustentável. Nosso robô de Lego é um exemplo concreto de como as ciências básicas podem ser aplicadas de forma criativa e inovadora para alcançar esse objetivo.
            </p>
            <img class="info-img" src={robo2.src} alt="Logo do IFAM" />
        </div>

        <h2 class="topico">Etapas de implementação</h2>
        <div class="informacao">
            <p class="info-texto">
                Materiais Necessários:

Kit de Lego Mindstorms (ou peças de Lego compatíveis)
Arduino (ou outra placa de microcontrolador)
Sensor de gás inflamável (como um sensor de gás de metano)
Fios de conexão
Computador com software Arduino instalado
Etapa 1: Planejamento

Antes de começar a montar o robô, é importante planejar o design. Decida onde o sensor de gás será colocado e como ele se conectará ao Arduino. Você também deve determinar como o robô se moverá e como receberá dados do sensor.

Etapa 2: Montagem do Robô

Usando as peças do kit de Lego, monte o robô de acordo com o design planejado. Certifique-se de deixar espaço para o sensor de gás e a placa Arduino. O robô deve ser capaz de se mover autonomamente.

Etapa 3: Conexão do Sensor de Gás

Conecte o sensor de gás ao Arduino usando fios. Verifique as especificações do sensor para garantir que esteja conectado corretamente. O sensor detectará gases inflamáveis no ambiente.

Etapa 4: Programação do Arduino

Escreva um programa para o Arduino que permitirá ao robô ler os dados do sensor de gás e tomar ações com base neles. Por exemplo, o robô pode se mover para longe de áreas com alta concentração de gases inflamáveis.

Etapa 5: Testes e Calibração

Teste o robô em um ambiente controlado com a presença de um gás inflamável (certifique-se de seguir todas as precauções de segurança). Calibre o sensor para garantir que ele detecte corretamente os níveis de gás.

Etapa 6: Aprimoramento e Aprendizado

À medida que você experimenta o robô, pode identificar áreas que precisam de melhorias. Talvez você queira adicionar sensores adicionais ou aprimorar o comportamento do robô com base nos dados do sensor de gás.

Etapa 7: Aplicação

Depois de aprimorar seu robô, você pode considerar aplicações práticas. Por exemplo, use-o para monitorar vazamentos de gás em sua casa ou em laboratórios. Isso pode ajudar na segurança e na prevenção de acidentes.
            </p>
            <img class="info-img" src={extaylor.src} alt="Logo do IFAM" />
        </div>

        <h2 class="topico">Colaboradores:</h2>
        <div class="informacao">
            <p class="info-texto">
                <ul>
                    <li>Breno da Silva</li>
                    <li>Sullivan Mota</li>
                    <li>Jabes Dias</li>
                </ul>
            </p>
            <img class="info-img" src={robo.src} alt="Logo do IFAM" />
        </div>
    </div>
</LayoutBase>
<Rodape />
