---
import LayoutBase from "@/layouts/LayoutBase.astro";
import '@/styles/globals.css';
---

        <LayoutBase>
            PROJETO ROBO
            <div class="card">
                <p>OI</p>
            </div>
        </LayoutBase>