---
import LayoutBase from "@/layouts/LayoutBase.astro";
import '@/styles/globals.css';
---

        <LayoutBase>
            PROJETO ESTUFA
            <div class="card">
                <p></p>
            </div>
        </LayoutBase>