---
import LayoutBase from "@/layouts/LayoutBase.astro";
import "@/styles/globals.css";
import Rodape from "../components/Rodape.astro";
import extaylor from "../assets/ta.jpg";
---

<LayoutBase>
    <div>
        <h2 class="topico">Como foi feito</h2>
        <div class="informacao">
            <p class="info-texto">
                Este site foi feito usando Astro e tem o objetivo de mostrar mais detalhes sobre os projetos da IDES31 para SNCT de 2023
            </p>
        </div>

        
    </div>
</LayoutBase>
<Rodape />
