<div class="links-nav">
    <a href="/">Início</a>
    <a href="/projeto-estufa">Estufa Automática</a>
    <a href="/projeto-robo">Robo de Lego</a>
    <a href="/">IDES31</a>
    <a href="/quem-somos">Progamadores</a>
  </div>