<script src="https://kit.fontawesome.com/5a0e07a6c4.js" crossorigin="anonymous"
></script>
<div class="rodape">
    <p class="creditos">
        2023 - Desenvolvido pela turma de desenvolvimento de sistemas do IFAM <i
            >Campus CPRF</i
        >
    </p>
    <p class="insta">
        <i class="fa-brands fa-instagram"></i>
        <a  class="link" href="https://www.instagram.com/ides31if/">Instagram da turma</a>
    </p>
</div>
