---
import Hamburguer from './Hamburguer.astro';
import Navegacao from './Navegacao.astro';

---
<header class="menu-topo">
        <div class="nomes">
        <h1>SNCT2023</h1>
        <h2>IFAM <i>Campus CPRF</i> - IDES31</h2>
    </div>
    <nav>
        <Hamburguer />
        <Navegacao />
    </nav>
    
</header>